{% extends 'base.html' %}
{% block title %}reset password{% endblock %}
{% block content %}
<style>
body { background: #020066; }
   #id_new_password1 ,  #id_new_password2  { padding-top: 5px;  padding-bottom: 5px;  font-family: 'Roboto Mono', monospace; width: 500px; font-family: 'Space Mono', monospace;  border: 3px solid #000 ! important; border-radius: 0;  }
    #id_new_password1:focus {   border: 3px dotted #000 ! important; border-radius: 0; box-shadow: none ! important;  }
     #id_new_password2 { font-family: 'Roboto Mono', monospace; width: 500px; font-family: 'Space Mono', monospace;  border: 3px solid #000 ! important; border-radius: 0;  }
    #id_new_password2:focus {   border: 3px dotted #000 ! important; border-radius: 0; box-shadow: none ! important;  }
.c_b { border: 2px solid #000; color: #000; font-family: 'Roboto Mono', monospace; border-radius: 0px; }
   h2 { color: #fff; font-family: 'Roboto Mono', monospace;}
   .email_f { background: yellow; box-shadow: 10px 20px #fff; }
    .label { font-family: 'Roboto Mono', monospace;}
</style>
<div class="container d-flex justify-content-center">
    <h2>
    reset password
    </h2>
</div>
 <div class="container">
        <div class="container mt-5 ">
               <div class="form-group  email_f password_r d-flex justify-content-center">
                     <form method="post" action="" class="mt-2">
                         {% csrf_token %}

				     <p>
				         <label class="label" for="id_username">New Password:</label>
				              {{ form.new_password1 }}
                     </p>
                      <p>
				         <label class="label" for="id_username">New password2 :</label>
				              {{ form.new_password2 }}
                     </p>
                     <div class="container d-flex justify-content-center py-2">
                         <button class="btn c_b">confirm</button>
                     </div>
               </div>
        </div>

 </div>



<script>

       var element = document.getElementById("id_email");
        element.classList.add("form-control");

</script>
{% endblock %}