{% extends 'base.html' %}
{% block title %}Update setting{% endblock %}
{% block content %}
<style>
	#id_username , #id_first_name , #id_last_name , #id_email { color: blue; font-family: 'Space Mono', monospace; border: 1px solid blue ! important; border-radius: 0px ! important;}
     #id_username:focus  { border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important; }
	  #id_first_name:focus  { border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important; }
        #id_last_name:focus  { border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important; }
       	#id_email:focus  { border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important; }

	label , h2 { color: blue;}
	.form_g { background: #fff; padding-top: 50px; padding-bottom: 50px; }
	 .publish_btn { color: blue; border-radius: 0px; background: #ffF ! important; border: 1px solid blue ! important; }
     .publish_btn:hover { color: blue ; font-weight: 666; border: 3px solid blue ! important; }
     .change_p a {font-family: 'Atma', cursive;  color: blue ! important;}

</style>

                <div class="d-flex mt-2 small_f justify-content-center container">
				   <h2>
					   update setting
				   </h2>
				</div>
		<br/><br/>

		<div class="container form_g">
			<div class="form-group ">
			<form method="POST">
				{% csrf_token %}

				 <p>
				      <label class="label" for="id_username">Username:</label>
				        {{ form.username }}
			      </p>
				 <p>
				      <label class="label" for="id_first_name">First Name:</label>
				        {{ form.first_name }}
			      </p>
				 <p>
				      <label class="label" for="id_last_name">Last Name:</label>
				        {{ form.last_name }}
			      </p>
				 <p>
				      <label class="label" for="id_email">Email:</label>
				        {{ form.email }}
			      </p>
				<div class="mr-auto container change_p">
					<a href="../password">change password</a>
				</div>
				<div class="d-flex mt-4 justify-content-center container">
					<button class="btn btn-secondary publish_btn px-4">update</button>
				</div>
		</div>
		</div>



{% endblock %}