{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

    
<style>
  body { background: #020066; }
      #id_old_password , #id_new_password1 , #id_new_password2  { color: blue; font-family: 'Space Mono', monospace; border: 1px solid blue ! important; border-radius: 0px ! important; }
             #id_old_password:focus   {border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important;}
              #id_new_password1:focus   {border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important;}
              #id_new_password2:focus   {border: 2px dotted blue ! important; outline: 0 none ! important; box-shadow: none ! important;}
              label { color: blue; }
               .change_p { color: blue; border-radius: 0px; background: #ffF ! important; border: 1px solid blue ! important; }
              .change_p:hover { color: blue ; font-weight: 666; border: 3px solid blue ! important; }
              h { color: #fff;}
              .form_w { background: #fff; padding-top: 60px; }
</style>
<div class="container d-flex small_f justify-content-center">
    <h>Change Password...</h>
</div>
<br/><br/>
<div class="container">
    <div class="container form_w">
   <div class="form-group">
	<form method="POST">
		{% csrf_token %}
		{{ form.as_p }}
    </form>
        <div class="container d-flex small_f justify-content-center">
		<button class="btn btn-secondary change_p">Change Password</button>
        </div>
<br/><br/>

</div>
</div>

</div>



{% endblock %}