{% extends 'base.html' %}

{% block content %}


<div class="container">
  <div class="row card_sec">
   {% for post in object_list %}
         {% if post.author.id == 1 %}
               <div class="card card_f">
         {% if post.header_image %}
        <img src="http://placehold.it/200x150">
        {% else %}
           <img src="http://placehold.it/200x150">
        {% endif %}
      <p class="card-text card_t">{{ post.title }}</p>
                   <a href="{% url 'article-detail' post.pk %}">read more...</a>
    </div>
          {% endif %}
   {% endfor %}

  </div>
</div>


<div class="wrapper  row " id="blog_sec">
    <div class="col-lg-8 col-sm-12 col-xs-12 col-md-12" id="blog_item">
        <div class="wrapper blog_item_sec" style="background-color: #fff">
 <div class="container msp_head">
   <span> Most resent Posts</span>
</div>


      <div class="row mx-0 wrapper">

              {% for post in object_list %}
          <div class="col-lg-6 col-md-4 col-sm-12 col-xs-12 mx-0 " style="width: 100%">

             <div class="card my-2 mx-0  " >
			  <div class="wrapper card_img ">
                 {% if post.header_image %}
                   <img src="{{ post.header_image.url }}" style=" height: 200px; object-fit: cover ! important "  class="responsive card-img" >
                   <span class="cat_ovr_img d-flex justify-content-center">
					                <a  href="{% url 'category' post.category|slugify %}">
					                                {{ post.category|upper }}
				                    </a>
                   </span>
                 {% else %}
                          <img  style=" height: 200px; object-fit: cover ! important "  class="responsive card-img" src="https://miro.medium.com/max/2000/0*lIyQHcbOSsTXRdUp" alt="Card image cap">
			                 <span class="cat_ovr_img d-flex justify-content-center">
					                <a  href="{% url 'category' post.category|slugify %}">
					                                {{ post.category|upper }}
				                    </a>
				             </span>
                {% endif %}
			  </div>
            <div class="card-body ">

                 <span class="card-title container row d-flex justify-content-center">
                      <div class="blog_usr_name mr-auto px-0 py-0">
                         {{ post.author.first_name | upper }} {{ post.author.last_name | upper }}
                       ~
                     </div>

                     <div class="blog_date ml-auto">
                          ~ {{ post.post_date|date:'F' | upper }} {{ post.post_date.day| upper}}
                     </div>

				 </span>




                 <p class="card-text">
					 <a href="{% url 'article-detail' post.pk %}">{{ post.title | title |slice:'50' }}</a>
				 </p>
                 <span class="row container d-flex justify-content-center">
					 {% if user.is_authenticated %}
			                    {% if user.id == post.author.id  or user.id == user.is_superuser %}

				                           <div class="blog_ed mr-auto" title="edit">
                                                          <a href="{% url 'update_post' post.pk %}">
                                                            <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                               <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                                            </svg>

                                                          </a>
                                           </div>
                                           <div class="blog_dt ml-auto" title="delete">
                                                     <a href="{% url 'delete_post' post.pk %}">

                                                         <svg width="15px" height="15px" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                         </svg>

                                                     </a>
                                           </div>

			                    {% endif %}
		             {% endif %}

				 </span>
			</div>
          </div>

          </div>
              {% endfor %}

      </div>

  </div>

    </div>
    <div class="col-lg-4 bg-dark desktop_ads_sec" style="height: 400px" id="dsk_ads">
        s
    </div>
</div>
<script>
       if (window.innerWidth < 900) {
              function myFunction() {
                   var element = document.getElementById("blog_sec");
                       element.classList.remove("justify-content-center");
               }
    }
   </script>

{% endblock %}